* {
  font-family: "SF Pro";
  font-size: 13px;
}

window#waybar {
  background-color: rgba(40, 40, 40, 0.7);
  color: #ebdbb2;
}

#workspaces {
  margin: 0px 0px;
  border: none;
  padding: 2;
  border-radius: 0px;
}

#workspaces button {
  color: rgba(235, 219, 178, 0.6);
  background: transparent;
  min-width: 22px;
  min-height: 22px;
  margin: 0px 0px;
  padding: 0;
  border-radius: 0px;
}

#workspaces button.focused {
  background: #ebdbb2;
  color: #1d2021;
  min-width: 22px;
  min-height: 22px;
}

#workspaces button.urgent {
  background-color: #fb4934;
}

#workspaces button:hover {
  background-color: rgba(235, 219, 178, 0.1);
}

#workspaces button.focused:hover {
  background: #ebdbb2;
  color: #1d2021;
}

#clock,
#bluetooth,
#tray,
#battery,
#network,
#pulseaudio {
  padding: 2;
  color: #ebdbb2;
  border-radius: 0px;
  margin: 1px 3px;
}

#battery {
  padding: 2;
}

#battery.charging {
  color: #b8bb26;
}

#battery.warning:not(.charging) {
  color: #fabd2f;
}

#battery.critical:not(.charging) {
  color: #cc241d;
  background-color: rgba(251, 73, 52, 0.1);
}

#network {
  padding: 2;
}

#network.disconnected {
  color: #cc241d;
  background-color: rgba(251, 73, 52, 0.1);
}

#pulseaudio {
  padding: 2;
}

#pulseaudio.muted {
  color: #a89984;
}

#bluetooth {
  padding: 2;
}

#clock {
  padding: 2;
}

#tray {
  padding: 2;
}